<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>155264600137-8ju2010lru50eiv2hf6kuqea7o8915da.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.155264600137-8ju2010lru50eiv2hf6kuqea7o8915da</string>
	<key>API_KEY</key>
	<string>AIzaSyD4Rxaahvt_EiWZzAcTTpeI3liPL8QtNYo</string>
	<key>GCM_SENDER_ID</key>
	<string>155264600137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SeimpleApps.Math-functions</string>
	<key>PROJECT_ID</key>
	<string>mathfunc-6f8e0</string>
	<key>STORAGE_BUCKET</key>
	<string>mathfunc-6f8e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:155264600137:ios:e460e55fd1b9a6b7</string>
	<key>DATABASE_URL</key>
	<string>https://mathfunc-6f8e0.firebaseio.com</string>
</dict>
</plist>